name: e2e
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  docker:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v6
      - run: ./script/docker-e2e.sh
  kind:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.3
      - run: |
          ./script/kind-e2e.sh create
          ./script/kind-e2e.sh run
