name: lint
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  golangci-lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.1
      - run: golangci-lint run
  hadolint:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.1
      - run: hadolint Dockerfile
  shellcheck:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.1
      - run: shellcheck ./script/*.sh
